<div class="body pt-3">
	{{call_info_cf}}
	{% if (type === "Incoming") { %}
		<span> Incoming call from {{ from }}, received by {{ to }}</span>
	{% } else { %}
		<span> Outgoing Call made by {{ from }} to {{ to }}</span>
	{% } %}
	<div class="summary pt-3">
	{% if (summary) { %}
		<i>{{ summary }}</i>
	{% } else { %}
		<i class="text-muted">{{ __("No Summary") }}</i>
	{% } %}
	</div>
	{% if (recording_url) { %}
	<div class="margin-top">
			<audio
				controls
				src="{{ recording_url }}">
			</audio>
	</div>
	{% } %}
</div>
</div>
